<?xml version="1.0"?>
<!-- 
  This file launches three nodes:
    - robot_state_publisher that publishes TEO humanoid robot coordinate frames
    - rviz
-->

<launch>
  <arg name="simple_vis" default="0" /> <!-- For the moment simple_vis is in default -->

  <!-- Using xacro -->

  <!-- There is a problem with conditionals in xacro, for this reason the conditional is done here 20/08/2014 -->
  <!--param name="robot_description" command="$(find xacro)/xacro.py '$(find teo_description)/urdf/teo_humanoid.urdf.xacro' prefix:=$(arg simple_vis)" /-->
  <group if="$(arg simple_vis)">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find teo_description)/urdf/teo_humanoid_simple_vis.urdf.xacro" /> 
  </group>
  <group unless="$(arg simple_vis)">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find teo_description)/urdf/teo_humanoid.urdf.xacro" /> 
  </group>

  <!-- Using URDF directly -->
  <!--param name="robot_description" textfile="$(find teo_description)/urdf/teo_humanoid.urdf" /-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teotragen_com)/config/teotragen_display.rviz" />
</launch>
